.crake-nav {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 15px;
    width: 100%;
    z-index: 666;
    height: auto;

    nav {
        .navbar-brand {
            img {
                max-width: 100px;
                height: auto;
            }
        }
        ul {
            list-style-type: none;
        }
        .navbar-nav {
            li {
                position: relative;
                padding: 15px 0 !important;

                a {
                    font: {
                        weight: 600;
                        size: 17px;
                    }
                    color: $white !important;
                    padding: 0 0 !important;
                    margin: 0 17px;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 9px;
                        width: 6px;
                        height: 6px;
                        background: $white;
                        opacity: 0;
                        border-radius: 50%;
                        visibility: hidden;
                        transition: .4s;
                    }
                    &:hover {
                        &::before {
                            opacity: 1;
                            visibility: visible;
                            left: -12px;
                        }
                    }
                    &.active {
                        &::before {
                            opacity: 1;
                            visibility: visible;
                            left: -12px;
                        }
                    }
                }
                &:hover a {
                    &::before {
                        opacity: 1;
                        visibility: visible;
                        left: -12px;
                    }
                }
                .dropdown_menu {
                    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
                    background: $white;
                    position: absolute;
                    top: 80px;
                    left: 0;
                    width: 220px;
                    z-index: 99;
                    padding: 20px 0;
                    opacity: 0;
                    border-radius: 5px;
                    visibility: hidden;
                    transition: all 0.3s ease-in-out;

                    li {
                        position: relative;
                        padding: 0 !important;

                        a {
                            font: {
                                size: 15px;
                            }
                            padding: 5px 15px !important;
                            margin: 0;
                            display: block;
                            color: #716c80 !important;

                            &::before {
                                left: 0;
                                background: $template_color;
                                opacity: 0;
                                visibility: hidden;
                                top: 12px;
                            }
                            &:hover {
                                &::before {
                                    left: 13px;
                                    opacity: 1;
                                    visibility: visible;
                                }
                                color: $template_color !important;
                                padding-left: 25px !important;
                            }
                            &.active {
                                color: $template_color !important;
                                padding-left: 25px !important;

                                &::before {
                                    left: 13px;
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }
                        .dropdown_menu {
                            position: absolute;
                            left: 95%;
                            top: 0 !important;
                            opacity: 0 !important;
                            visibility: hidden !important;

                            li {
                                a {
                                    padding-left: 15px !important;
                                    color: #716c80 !important;

                                    &::before {
                                        opacity: 0;
                                        left: 0;
                                        visibility: hidden;
                                    }

                                    &:hover {
                                        color: $template_color !important;
                                        padding-left: 25px !important;
                                        
                                        &::before {
                                            left: 13px;
                                            opacity: 1;
                                            visibility: visible;
                                        }
                                    }
                                    &.active {
                                        color: $template_color !important;
                                        padding-left: 25px !important;
        
                                        &::before {
                                            left: 13px;
                                            opacity: 1;
                                            visibility: visible;
                                        }
                                    }
                                }
                            }
                        }
                        &:hover {
                            .dropdown_menu {
                                opacity: 1 !important;
                                visibility: visible !important;
                                top: -20px !important;
                            }
                            a {
                                padding-left: 25px !important;
                                color: $template_color !important;

                                &::before {
                                    left: 13px;
                                    visibility: visible;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
                &:hover {
                    ul {
                        opacity: 1 !important;
                        visibility: visible !important;
                        top: 100%;
                    }
                }
            }
        }
        .others-option {
            .navbar-nav {
                align-items: center;

                .cart-wrapper {
                    position: relative;
                    padding: 0 !important;

                    a {
                        margin: 0 0 0 10px !important;

                        .cart-icon {
                            line-height: 52px;
                            font-size: 25px;
                        }
                        span {
                            position: relative;
                            width: 16px;
                            height: 16px;
                            font-size: 12px;
                            background: $black;
                            display: inline-block;
                            text-align: center;
                            line-height: 16px;
                            border-radius: 50%;
                            top: -15px;
                            color: $white;
                            padding-right: 1px;
                            right: 10px;
                        }
                    }
                }
                li {
                    padding: 0 !important;

                    a {
                        margin: 0 22px 0 10px !important;

                        &::before {
                            display: none;
                        }
                    }
                    .side-menu {
                        cursor: pointer;
                        width: 32px;

                        .bar-1 {
                            position: relative;
                            width: 8px;
                            height: 8px;
                            background: $white;
                            display: block;
                            border-radius: 50%;
                            margin-bottom: 2px;
                            transition: all 0.4s ease-in-out;

                            &::before, &::after {
                                content: '';
                                position: absolute;
                                right: -12px;
                                top: 0;
                                width: 8px;
                                height: 8px;
                                background: $white;
                                border-radius: 50%;
                                transition: all 0.4s ease-in-out;
                            }
                            &::after {
                                right: -24px;
                            }
                        }
                        .bar-2 {
                            position: relative;
                            width: 8px;
                            height: 8px;
                            margin-bottom: 2px;
                            background: $white;
                            display: block;
                            border-radius: 50%;
                            transition: all 0.4s ease-in-out;

                            &::before, &::after {
                                content: '';
                                position: absolute;
                                right: -12px;
                                top: 0;
                                width: 8px;
                                height: 8px;
                                background: $white;
                                border-radius: 50%;
                                transition: all 0.4s ease-in-out;
                            }
                            &::after {
                                right: -24px;
                            }
                        }
                        .bar-3 {
                            position: relative;
                            width: 8px;
                            height: 8px;
                            background: $white;
                            margin-bottom: 2px;
                            display: block;
                            border-radius: 50%;
                            transition: all 0.4s ease-in-out;

                            &::before, &::after {
                                content: '';
                                position: absolute;
                                right: -12px;
                                top: 0;
                                width: 8px;
                                height: 8px;
                                background: $white;
                                border-radius: 50%;
                                transition: all 0.6s ease-in-out;
                            }
                            &::after {
                                right: -24px;
                                transition: all 0.8s ease-in-out;
                            }
                        }
                        &:hover, &:focus {
                            .bar-2 {
                                &::after {
                                    opacity: 0;
                                    visibility: hidden;
                                    transform: translateX(-100%);
                                }
                            }
                            .bar-3 {
                                &::after, &::before {
                                    opacity: 0;
                                    visibility: hidden;
                                    transform: translateX(-100%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.marketing-navbar {
        nav {
            .navbar-nav {
                li {
                    a {
                        color: #716c80 !important;
    
                        &::before {
                            background: $template_color;
                        }
                        &:hover, &:focus, &.active {
                            color: $template_color !important;
                        }
                    }
                    .side-menu {
                        .bar-1 {
                            background: #716c80;

                            &::before, &::after {
                                background: #716c80;
                            }
                        }
                        .bar-2 {
                            background: #716c80;

                            &::before, &::after {
                                background: #716c80;
                            }
                        }
                        .bar-3 {
                            background: #716c80;

                            &::before, &::after {
                                background: #716c80;
                            }
                        }
                    }
                }
            }
        }
        &.is-sticky {
            background: $white !important;
        }
    }
    &.is-sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
        z-index: 999;
        box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
        background-color: $template_color !important;
        animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    }
}
.header-search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  transition: all 0.5s ease-in-out;
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
  visibility: hidden;
  z-index: 9999;

  .header-search-form {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    max-width: 950px;
    margin: 0 auto;

    input {
      &[type="search"] {
        width: 100%;
        color: #222d39;
        font-size: 20px;
        text-align: left;
        border: 1px solid $template_color;
        margin: 0px auto;
        padding: 25px 10px 25px 30px;
        outline: none;
        background: transparent;
        transition: 0.4s;

        &:focus {
          border-color: $template_color2;
        }
      }
    }
    .btn {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 100%;
      padding: 0 50px;
      border-radius: 0;
      &:hover {
        transform: translateY(0);
      }
    }
  }
  .close {
    position: absolute;
    color: $template_color2;
    background-color: transparent;
    border: none;
    opacity: 1 !important;
    visibility: visible;
    padding: 0;
    font: {
      size: 25px;
      weight: 300;
    }
    border-radius: 50%;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border: 1px solid $template_color2;
    transition: 0.4s;
    right: 24%;
    margin: -100px auto 0;
    top: 50%;

    &:hover,
    &:focus {
      background-color: $template_color !important;
      color: $white !important;
      border-color: $template_color !important;
      opacity: 1 !important;
    }
  }
  &.open {
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
    visibility: visible;
  }
}
.sidebar-modal {
  position: relative;

  .navbar-nav {
    li {
      a {
        padding: 10px 0px 10px 15px;
      }
    }
  }
  .modal.right {
    .modal-dialog {
      position: fixed;
      margin: auto;
      width: 350px;
      height: 100%;
      -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
      -o-transform: translate3d(0%, 0, 0);
      transform: translate3d(0%, 0, 0);
    }
    &.fade.show {
      .modal-dialog {
        right: 0;
        transition: all 0.3s ease-in-out;
      }
    }
    &.fade {
      .modal-dialog {
        right: -320px;
        transition: all 0.3s ease-in-out;
      }
    }
    .modal-content {
      height: 100%;
      overflow-y: auto;
      border-radius: 0;
      border: none;
    }
    .modal-body {
      padding: 30px;
      border-left: 1px solid #eee;
      .sidebar-modal-widget {
        margin-bottom: 35px;

        .title {
          font: {
            size: 20px;
            weight: 700;
          }
          position: relative;
          z-index: 1;
          margin-bottom: 30px;

          &::before {
            position: absolute;
            left: 0;
            bottom: -7px;
            width: 70px;
            height: 2px;
            border-radius: 5px;
            background: $template_color;
            content: "";
          }
          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -7px;
            height: 2px;
            width: 5px;
            background: $white;
            animation-duration: 2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-name: MOVE-BG;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
        ul {
          padding: 0;
          margin: 0;
          list-style-type: none;

          li {
            margin-bottom: 10px;

            &:last-child {
              margin-bottom: 0;
            }
          }
          &.contact-info {
            li {
              position: relative;
              font-weight: 700;
              padding-left: 65px;
              text-transform: uppercase;
              margin-bottom: 17px;

              i {
                position: absolute;
                left: 0;
                top: 0;
                background: #f4f4f4 none repeat scroll 0 0;
                border: 1px solid #e7e7e7;
                border-radius: 5px;
                color: $template_color;
                height: 50px;
                text-align: center;
                width: 50px;
                line-height: 50px;
                font-size: 25px;
                transition: 0.4s;
              }
              span {
                display: block;
                font-weight: 400;
                color: $paragraph_color;
                margin-top: 5px;
                text-transform: initial;
              }
              &:hover {
                i {
                  color: $white;
                  border-color: $white;
                  background: $template_color;
                }
              }
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
          &.social-list {
            li {
              display: inline-block;
              margin-bottom: 0;
              margin-right: 10px;
              a {
                width: 40px;
                height: 40px;
                line-height: 40px;
                font-size: 15px;
                text-align: center;
                border-radius: 50%;
                color: $paragraph_color;
                border: 1px solid $paragraph_color;

                &:hover,
                &:focus {
                  color: $white;
                  background: $template_color;
                  border-color: $template_color;
                }
              }
            }
          }
        }
      }
    }
  }
  .modal-header {
    display: inline;
    padding: 0;
    border: none;

    .close {
      height: 40px;
      width: 40px;
      background: $template_color;
      font-size: 20px;
      color: $white;
      margin: 0px;
      padding: 0px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      border: none;
      opacity: 1;

      &:hover {
        background: $template_color2;
        color: $white;
        transition: all 0.3s ease-in-out;
        opacity: 1;
      }
    }
    h2 {
      background: linear-gradient(142deg, #3ec9cf 0%, #2d136a 100%);
      padding: 30px 25px;

      img {
        max-width: 100px;
      }
    }
  }
  button {
    &:focus {
      outline: 0px;
    }
  }
}
